<div class="row-header">
  <span class="col-lg-9">
    <h4>Task Details</h4>
  </span>
  <span class="col-lg-3 text-right close-icon">
    <mat-icon (click)=closeDialog()>highlight_off</mat-icon>
  </span>
</div>
<hr />

<div class="text-padding">
  <div class="text-heading">
    Task Description:
  </div>
  <div>
    After the IARC review is complete, LTSS worker has to work on this task and input the committee decision.
  </div>
</div>
<div class="text-padding">
  <div class="text-heading">
    Closure Description:
  </div>
  <div>
    Enter IARC result on Intake Outcome screen dropdown that determines next steps on submit. Need to make sure to not have any open tasks for additional information requested from intake worker.
  </div>
</div>
