.applicant-sub-heading {
  font-weight: bold;
  color: #547E1A;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 5px;
}

.radio-option-container {
  padding-top: 10px;
  padding-bottom: 40px;
  margin-left: 50px;
}
.question-container{
  padding-top: 25px;
  margin-left: 50px;
}

.button-container {
  margin-top: 20px;
}

.transfer_sub_container {
  padding: 2px;
  margin-top: 20px;
  box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.5);
  border: 2px solid beige;
  background: aliceblue;
  padding: 20px;
}

.div-container {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #89a560;
  
}

::ng-deep.mat-checkbox-layout{
  white-space: normal !important;
  }

::ng-deep .mat-checkbox-inner-container {
  margin-top: 4px !important;
  white-space: normal;
}

#applicantName {
  border: 2px solid;
  border-color: #4D7E20;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
::ng-deep .mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #F6FAFF;
  border-radius: 5px;
  border-color: #CED4DA;
}

.checkbox-element {
    position: relative;
    top: 20%;
    transform: translateY(-20%);
}

.required-color {
  color: #EE3524;
}

.validationContainer {
  margin-bottom: 10px;
}

.table-descr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tableContainer {
  margin-left: 60px;
  margin-right: 60px;
}

.status-header {
  padding-left: 35px;
  font-weight: bold;
  font-size: large;
  background-color: #EDF4FB;
}

.iconTextContainer {
  position:relative;
  padding-top:4px;
}

.statusText {
  position:absolute;padding-top:2px;
}

.usrActions {
  padding-left: 30px;
}

.perlss-section-divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

.statHeader {
  font-weight: bold;
  font-size: large;
}

.chkBoxContainer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.chkboxContent {
  padding-top: 10px;
  padding-bottom: 10px;
}

