<div class="responsive">
  <form  [formGroup]="myForm">
    <div class="scroller">
      <div class="applicantName">Jessica Jones</div>
      <br>
			<h3>Summary</h3>
      <p>Please make sure to provide the details for each section below. If you have supporting
          documentation, select the cloud
          icon to upload the documents.</p>
      <table class="activityTable">
          <thead>
            <th>Diagnosis Summary</th>
            <th class="narrow">Status</th>
            <th class="narrow">User Actions</th>
          </thead>
          <tbody>
            <tr>
              <td>Medical Diagnosis</td>
              <td>
                <mat-icon class="red">close</mat-icon><span>Incomplete</span>
              </td>
              <td>
                <a (click)="gotoDetailPage()" class="gotoLink">GO TO DETAILS</a>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <mat-divider></mat-divider>
        <br>
        <table class="activityTable">
            <thead>
              <th>Supporting Documentation</th>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>Medical Diagnosis</td>
                <td>
                  <input type="file" (change)="handleFileInput($event.target.files)">
                    <mat-icon class="blue upload_btn">cloud_upload</mat-icon>
                    <span class="file_name_text">{{fileName}}</span>
                </td>
                <td *ngIf="!showUploadBtn"></td>
                <td *ngIf="showUploadBtn">
                  <button type="button" mat-flat-button color="primary" class="perlss-click-button"
                      (click)="uploadFile()">Upload</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </form>
</div>







<!-- <div class="form-container">


    <div class="Documentation_section">
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>
        <br>
        <div class="summary_container">
            <div class="row documentation_heading_row">
                <div class="col-md-12">
                    <mat-label><b>Supporting Documentation</b></mat-label>
                </div>
            </div>
            <div class="row summary_data_row">
                <div class="col-md-4">
                    <mat-label>Medical Diagnosis</mat-label>
                </div>
                <div class="col-md-6">
                    <input type="file" (change)="handleFileInput($event.target.files)">
                </div>
                <div class="col-md-2" *ngIf="showTick">
                    <span class="material-icons status_tick">
                        done
                    </span>
                    <span class="material-icons status_delete">
                        delete_sweep
                    </span>
                </div>
                <div class="col-md-2" *ngIf="showUploadBtn">
                    <button type="button" mat-flat-button color="primary" class="perlss-click-button"
                        (click)="uploadFile()">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<mat-divider></mat-divider> -->
<br>
<div class="row" style="margin-left: 2px; padding-top: 50px;">
    <div class="col-md-2" style="text-align: left;">
        <button mat-flat-button color="primary" style="font-size: 24px; padding: 15px 35px;"
            class="perlss-click-button-white">BACK</button>
    </div>
    <div class="col-md-4" style="text-align: left;">
        <button mat-flat-button color="primary" style="font-size: 24px; padding: 15px 35px;"
            class="perlss-click-button-white-noborder">SAVE AND EXIT</button>
    </div>
    <div class="col-md-6" style="text-align: right;">
        <button type="submit" mat-flat-button color="primary" style="font-size: 20px;  padding: 15px 35px;"
            class="perlss-click-button">NEXT</button>
    </div>
</div>
