<div class="row-header">
  <span class="col-lg-9 dialog-heading">
    View User Role
  </span>
  <span class="col-lg-3 text-right close-icon">
    <mat-icon (click)=close()>highlight_off</mat-icon>
  </span>
</div>
  <mat-divider class="perlss-section-divider"></mat-divider>

  <div style="font-size: 11px;font-family: 'Open Sans'">
    <table class="table table-borderless">
      <tr class="d-flex">
        <td class="col-2"><b>USER ROLE NAME:</b></td>
        <td class="col-3">{{this.userRoleDetails?.roleName}}</td>
        <td class="col-3"><b>ACTIVE DATE:</b></td>
        <td class="col-4">{{this.userRoleDetails?.roleStatusDt}}</td>
      </tr>
      <tr class="d-flex">
        <td class="col-2"><b>ENTITY TYPE:</b></td>
        <td class="col-3">{{this.userRoleDetails?.entityType}}</td>
        <td class="col-3"><b>LAST UPDATED DATE:</b></td>
        <td class="col-4">{{this.userRoleDetails?.lastModifiedDt}}</td>
      </tr>
      <tr class="d-flex">
        <td class="col-2"><b>ENTITY:</b></td>
        <td class="col-3">{{this.userRoleDetails?.entityCd}}</td>
        <td class="col-3"><b>BUSINESS FUNCTION(S):</b></td>
        <td class="col-4">{{this.userRoleDetails?.functionNames}}</td>
      </tr>
      <tr class="d-flex">
        <td class="col-2"><b>REGION:</b></td>
        <td class="col-3">{{this.userRoleDetails?.regionCd}}</td>
        <td class="col-3"><b>TASK QUEUE(S)</b></td>
        <td class="col-4">{{this.userRoleDetails?.taskQueues}}</td>
      </tr>
    </table>
  </div>
